
.header-container{
  display:flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  border:solid 1px gray;
  padding:2px;
  background-color: #150c25;
  color:white;
font-weight:bold;
}
.header-container div{
  background-color: transparent;
  border:solid 2px white;
  padding:10px;
  border-radius:10px;
}
@media (max-width:420px){
  .header-container{
    display: flex;
    flex-direction: row;
    background-color: #150c25;
    color:white;
    font-weight:bold;
    font-family: Arial;
    font-size:13px;
    border-radius:10px;
     height:10vh;
  }
  .header-container div{
    border:solid white 2px;
    padding:2px;
    font-size:10px;
  }
}
@media (max-width:365px){
  .header-container{
    padding:0;
    height:15vh;
    font-size: 10px;
    display:flex;
    flex-direction: row;
    justify-content: none;
    height:10vh;
  }
}