body{
  font-family:Arial;
  font-weight:500;
  background-color:#f7f7f7;
  align-items: center;
}
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
html,body{
 height:100%;
 width:100%;  
}
.page-container{
 min-height:100vp;
  justify-content: center;
  align-items: center;
}
.submit-notification{
  display: flex;
  background-color:black;
  position:fixed;
  color:RED;
  top:30%;
  left:20%;
  padding:100px;
}
