body{
  font-family: Arial;
  
}
*{
  margin:0;
  padding:1px;
}
.header{
  border: solid 1px black;
  display: flex;
  justify-content: space-between;
}
.header-left{
  display: flex;
  justify-content: center;
  align-items: center;
}
.system-logo{
  border: solid 2px gray;
  border-radius: 40px;
}
.system-img{
  width:80px;
}
.header-center{
  display: flex;
  justify-content: center;
  align-items: center;

}
.header-left{
  width:inherit;
}
.user-profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.profile-img{
  width:30px;
  border-radius: 15px;
}
.main-profile-img{
  width:100px;
  border:none;
  border-radius: 50px;
}
.main-content{
  display:flex;
  justify-content: space-between;
  border:solid 1px black;
  margin-top:2px;
}
.main-left{
    height:70vh;
  border:solid 1px gray;
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width:60vw;
}
.user-info{
  display: flex;
  flex-direction: column;
  font-weight: 700;
  row-gap:20px;
}
.academic-summary{
  display: flex;
  flex-direction: column;
  font-weight: 700;
  row-gap: 20px;
}
.footer{
  position: fixed;
  left:0;
  bottom: 0;
  border:solid 1px black;
  width:100vw;
  text-align: center;
}
