body{
  font-family: Arial;
  background-color: #fdfdfd;
}
*{
  margin:0;
  padding:1px;
}
button{
  background-color: #12654eed;
  padding:8px;
  font-size: 15px;
  color:white;
  border:none;
  border-radius:10px ;
  margin-top:2px;
  cursor: pointer;
}
button:hover{
  opacity: 0.89;
  font-weight: bold;
}
button:active{
  opacity: 0.78;
  font-weight: normal;
  cursor:wait;
}