.header{
  border: solid 1px black;
  display: flex;
  justify-content: space-between;
}
.header-left{
  display: flex;
  justify-content: center;
  align-items: center;
}
.system-logo{
  box-shadow: 0.56px 0.56px 0.1px rgb(34, 25, 25);
}
.system-img{
  width:80px;
  border-radius: 40px;
}
.header-center{
  display: flex;
  justify-content: center;
  align-items: center;

}
.header-left{
  width:inherit;
}
.user-profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.profile-img{
  width:30px;
  border-radius: 15px;
}