header{
  background-color: var(--primary);
  color:white;
  display:flex;
  justify-content: space-between;
  height:var(--header-height);
}
.system-brand{
  display:grid;
  align-items: center;
}
.dashboard-title img{
color:white;
background-color: white;
border-radius:12px;
}
.logo-img{
  border-radius: 10px;
}
