:root{
--aside-bg:#1e293b;
--aside-text:#f8fafc;
--aside-icon:#d2cacab4;
--aside-hover:#334155;
--aside-active:#3357a6;

}
aside{
  display:flex;
  flex-direction: column;
 height:86vh;
 width:22vw;
 position:fixed;
 background-color:var(--aside-bg);
 color:var(--aside-text);
 justify-content:top;
 align-items: left;
cursor:pointer;
margin-top:11vh;
z-index:1;
top:0;
}
aside div{
  background-color: rgb(47, 105, 158);
  margin-top:8px;
  display:grid;
}

aside img{
  background-color: #d2cacab4;
  border-radius: 25px;

}
aside div:hover{
  background-color: var(--aside-hover);
}
aside div:active{
  background-color: var(--aside-active);
}
.user-info{
  background-color: var(--aside-active);
}