/* button */
:root{
 --button-height:48px;
 --button-width:160px;
 --button-font-size:16px;
 --button-radius:8px; 
}

/* layout */
:root{
  --text-size:16px;
  --header-height:80px;
--sidebar-width:260px;
--card-width:600px;
--card-height:250px;
--padding:20px;
--gap:20px;
--radius:12px;
--tittle-size:28px;
--header-size:20px;
--icon-size:24px;
--main-bg:#f8fafc;
--card-bg:#ffffff;

}
/* color tools */
:root{
  --primary:#2563eb;
  --secondary:#1e293b;
  --surface:#ffffffff;
  --text:#1f2937;
  --border:#e5e7eb;
}


img{
  width:50px;
}
button{
height: var(--button-height);
width:var(--button-width);
font-size:var(--button-font-size);
border-radius: var(--button-radius);
}
button:hover{
  background-color: var(--button-hover);
  cursor:pointer;
}

body{
  font-size:var(--font-size);
  /*background-color:var();
  color:var(--body-color);*/
  color:var(--text);
  font-size:(var(--text-size));

  padding:0;
  margin:0;
}
main{
  width:76vw;
  margin-left:23vw;
  background-color: var(--main-bg);
}

.card{
  padding-top:11vh;
  display:grid;
  grid-template-columns: 1fr ;
  padding-bottom:5vh;
}
.activity-data{
  display:grid;
  grid-template-columns: 1fr 1fr;
}





